.section {
  background-color: var(--mid-tone);
  color: var(--white);
  position: relative;
  z-index: 1;
}

.section h2,
.section p {
  color: var(--white);
}

.section h2::after {
  background-color: var(--highlight);
}

.section p {
  font-size: 1.2rem;
  font-weight: 300;
}
