.header {
  max-width: 640px;
  margin-bottom: 3.5rem;
}

.header h2 {
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.card {
  border-top: 1px solid var(--gray-light);
  padding-top: 1.75rem;
  transition: var(--transition);
}

.card:hover {
  border-top-color: var(--mid-tone);
  transform: translateY(-4px);
}

.card:hover .number {
  color: var(--contrast);
}

.card p {
  margin-bottom: 0;
  color: var(--text-dark);
}

.number {
  display: block;
  font-family: var(--font-serif), serif;
  font-size: 1.3rem;
  color: var(--mid-tone);
  margin-bottom: 0.75rem;
  transition: var(--transition);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}
